.nav_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;

  @media (max-width: 700px) {
    width: 100%;
    padding: 0 15px;
  }

  &:hover {
    span {
      color: #f27e51;
    }
  }

  span {
    color: #495d8b;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0;

    text-transform: uppercase;
  }
}
